In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
retail12=pd.read_csv("retail12.csv")
retail13=pd.read_csv("retail13.csv")
retail14=pd.read_csv("retail14.csv")
retail15=pd.read_csv("retail15.csv")
retail16=pd.read_csv("retail16.csv")
retail17=pd.read_csv("retail17.csv")
retail18=pd.read_csv("retail18.csv")

In [ ]:
retail0=pd.read_csv("PIVOT0.csv")
retail1=pd.read_csv("PIVOT1.csv")
retail2=pd.read_csv("PIVOT2.csv")
retail3=pd.read_csv("PIVOT3.csv")
retail4=pd.read_csv("PIVOT4.csv")
retail5=pd.read_csv("PIVOT5.csv")
retail6=pd.read_csv("BC5_b6.csv")

In [ ]:
retail7=pd.read_csv("PIVOT7.csv")
retail8=pd.read_csv("BC5_b8.csv")
retail9=pd.read_csv("BC5_b9.csv")
retail10=pd.read_csv("BC5_b10.csv")
retail11=pd.read_csv("BC5_b11.csv")

In [ ]:
retail0=retail0.drop(columns={"Unnamed: 0"})
retail1=retail1.drop(columns={"Unnamed: 0"})
retail2=retail2.drop(columns={"Unnamed: 0"})
retail3=retail3.drop(columns={"Unnamed: 0"})
retail4=retail4.drop(columns={"Unnamed: 0"})
retail5=retail5.drop(columns={"Unnamed: 0"})
retail12=retail12.drop(columns={"Unnamed: 0"})
retail13=retail13.drop(columns={"Unnamed: 0"})
retail14=retail14.drop(columns={"Unnamed: 0"})
retail15=retail15.drop(columns={"Unnamed: 0"})
retail16=retail16.drop(columns={"Unnamed: 0"})
retail17=retail17.drop(columns={"Unnamed: 0"})
retail18=retail18.drop(columns={"Unnamed: 0"})

In [ ]:
pdList = [retail0,retail1,retail2,retail3,retail4,retail5,retail6,retail7,retail8,retail9,retail10,retail11,retail12,retail14,retail15,retail16,retail17,retail18] 
# List of the dataframes
retail_df = pd.concat(pdList)

In [ ]:
retail_df.shape

(86161530, 9)

In [ ]:
retail_df.head()

,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,units,values
0,1,33,313,657,1984,2,2018-06-21,1.0,655.0
1,1,33,313,657,1984,2,2018-08-08,1.0,655.0
2,1,33,313,657,1984,2,2018-08-23,1.0,655.0
3,1,33,313,657,1984,2,2018-10-07,1.0,655.0
4,1,33,313,657,1984,2,2018-12-15,1.0,655.0

In [ ]:
retail_df.to_csv(r'C:\Users\sorai\Downloads\retail_df.csv')

In [ ]:
retail_df=pd.read_csv("retail_df.csv")

In [ ]:
retail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86161530 entries, 0 to 86161529
Data columns (total 10 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   ProductFamily_ID    int64
 2   ProductCategory_ID  int64
 3   ProductBrand_ID     int64
 4   ProductName_ID      int64
 5   ProductPackSKU_ID   int64
 6   Point-of-Sale_ID    int64
 7   Date                object
 8   units               float64
 9   values              float64
dtypes: float64(2), int64(7), object(1)
memory usage: 6.4+ GB

In [ ]:
from datetime import datetime
retail_df['Date']= pd.to_datetime(retail_df['Date'])

In [ ]:
retail_df.info()

In [ ]:
retail_df.head()

,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,units,values
0,1,33,313,657,1984,2,2018-06-21,1.0,655.0
1,1,33,313,657,1984,2,2018-08-08,1.0,655.0
2,1,33,313,657,1984,2,2018-08-23,1.0,655.0
3,1,33,313,657,1984,2,2018-10-07,1.0,655.0
4,1,33,313,657,1984,2,2018-12-15,1.0,655.0

In [ ]:
df = retail_df.sort_values(by='Date',ascending=True)
df

,Unnamed: 0,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,units,values
50001740,7765,1,33,1092,2008,6099,240,2016-01-01,1.0,450.0
34562341,4566618,21,22,1425,2665,8218,123,2016-01-01,3.0,2580.0
64625282,4632023,21,122,779,1514,4620,282,2016-01-01,1.0,7899.0
28760279,3763898,14,27,226,481,1572,110,2016-01-01,4.0,2510.0
19114554,4116538,16,11,950,1807,5457,78,2016-01-01,1.0,780.0
...,...,...,...,...,...,...,...,...,...,...
56986227,1992745,9,178,1066,1976,6023,260,2019-11-01,1.0,950.0
57773839,2780357,12,178,381,770,2318,260,2019-11-01,2.0,1782.0
64470866,4477607,21,86,174,2260,6955,287,2019-11-01,2.0,1398.0
26066827,1070446,2,178,1397,2592,7930,111,2019-11-01,2.0,9680.0
30292643,296920,1,178,892,1722,5227,140,2019-11-01,1.0,595.0

In [ ]:
df=df.drop(columns="Unnamed: 0")

In [ ]:
df.to_csv(r'C:\Users\sorai\Downloads\df_final.csv')